useDynLib(openpopscr, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(R6, R6Class)
importFrom(secr, traps)
importFrom(secr, usage)
importFrom(secr, sim.popn)
importFrom(secr, sim.capthist)
importFrom(secr, rectangularMask)
importFrom(secr, pointsInPolygon)
importFrom(secr, read.traps)
importFrom(secr, make.capthist)
importFrom(secr, make.mask)
importFrom(secr, make.grid)
importFrom(secr, RPSV)
importFrom(secr, pdot)
importFrom(numDeriv, grad)
importFrom(RcppParallel, RcppParallelLibs)
S3method(logLik, ScrModel)
S3method(logLik, CjsModel)
S3method(logLik, JsModel)
S3method(logLik, ScrTransientModel)
S3method(logLik, CjsTransientModel)
S3method(logLik, JsTransientModel)
export(ScrData)
export(DetFn)
export(ScrModel)
export(ScrTransientModel)
export(CjsModel)
export(CjsTransientModel)
export(JsModel)
export(JsTransientModel)
export(StrataModel)
export(get_start_values)
export(logLik.ScrModel)
export(logLik.CjsModel)
export(logLik.JsModel)
export(logLik.ScrTransientModel)
export(logLik.CjsTransientModel)
export(logLik.JsTransientModel)
export(logLik.StrataModel)
export(simulate_scr)
export(simulate_cjs_openscr)
export(simulate_js_openscr)
export(summary.R6)

