useDynLib(openpopscr, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(R6, R6Class)
importFrom(secr, traps)
importFrom(secr, usage)
importFrom(secr, sim.popn)
importFrom(secr, sim.capthist)
S3method(logLik, JsModel)
export(ScrData)
export(CjsModel)
export(JsModel)
export(logLik.JsModel)
