useDynLib(openpopscr)
importFrom(Rcpp, evalCpp)
importFrom(R6, R6Class)
importFrom(secr, traps)
importFrom(secr, usage)
importFrom(secr, sim.popn)
importFrom(secr, sim.capthist)
importFrom(numDeriv, grad)
importFrom(numDeriv, hessian)
S3method(logLik, JsModel)
exportPattern("^[[:alpha:]]+")
